<!-- <ion-view view-title="Location" ng-controller="AccountCtrl as vm">
  <ion-content>
        <button class="button button-energized" ng-click="vm.where()">Where am I? Click Me!</button>
        <label class="location">{{location}}</label>
  </ion-content>

</ion-view> -->

<ion-view view-title="Location">
  <ion-content>
    <div class="list card">
      <div class="item item-divider">You are here!</div>
      <div class="item item-body">
        <div>
           Your latitude and longitude is {{lat}}, {{lng}}
           Your location is <b>{{location}}</b>
        </div>
      </div>
    </div>
    </ion-list>
  </ion-content>

</ion-view>
